@media (min-width: 64rem) {


    .headerSite {   
        padding: .2rem 2rem;
    }

    header button span {
        font-size: 5rem;
    }

    header h1 {
        font-size: 4rem;
    }

    .logo {
        width: 4.6875rem;
    }

    li a {
        font-size: 2rem;
    }

    h2 {
        padding-top: 2.5rem;
        font-size: 3rem;
    }

    section p {
        padding: 2rem;
        line-height: 3rem;
        font-size: 1.8rem;
    }

    #mixButton{
        font-size: 2rem;
        padding: 1rem 3rem;
    }

    /* Weather Section*/
    .weather h3 {
        font-size: 3rem;
    }

    .weather p {
        font-size: 1.8rem;
    }

    /* Fresh Section */
    .fresh{
        font-size: 2.5rem;
    }

    /* Social Section */
    .socialContainer h4 {
        font-size: 3rem;
        padding: 2rem;
    }

    /* Fresh Page */
    .container {
        width: 70%;
        margin: auto;
    }

    .order-Number span:nth-child(2) {
        font-size: 3rem;
    }

    /* Form Page */
    form label {
        font-size: 1.2rem;
    }

    form input, form select, textarea {
        font-size: 1.6rem;
    }
    
    #submitBtn {
    font-size: 1.5rem;
    }


    #order-details {
        line-height: 3.75rem;
        font-size: 1.4rem;
    }
    
    #nutritional-info {
        line-height: 3.75rem;
        font-size: 1.4rem;
    }

    /* About Us */
    #contact-Container {
        margin: 2rem 8rem;
    }    

    .aboutUs-H {
        font-size: 2.2rem;
    }

    .aboutUs {
        font-size: 1.5rem;
        line-height: 2.1875rem;
        margin: 2rem 6rem;
    }

    .address-info, .phone-info, .email-info {
        font-size: 1.5rem;
        text-align: center;
    }

    /* Footer Section */
    .footer-info :nth-child(1) {
        font-size: 1.5rem;
        line-height: 2.5rem;
        margin: 1rem 0px 2rem 4rem;
    }

    .footer-rights{
        font-size: 1.5rem;
        line-height: 2.1875rem;
    }
    


}