@media (min-width: 48rem) {

    /* Header */

    header button span {
        font-size: 50px;
    }

    header h1 {
        font-size: 3rem;
    }

    .logo {
        width: 3.5rem;
    }

    li a {
        font-size: 1.3rem;
    }

    h2 {
        font-size: 2rem;
    }

    section p {
        line-height: 2rem;
        font-size: 1.3rem;
    }

    /* ImagesContainer */
    .imagesContainer {
        grid-template-columns: repeat(3, 1fr);
    }

    #image2 {
        grid-column: 1/2;
        grid-row: 1/2;
        width: 100%;
        height: auto;
        margin: 2rem;
    }
    #image1 {
        grid-column: 2/3;
        grid-row: 1/2;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    #image3 {
        grid-column: 3/4;
        grid-row: 1/2;
        width: 100%;
        height: auto;
        margin: 2rem;

    }

    #mixButton{
        grid-column: 1/4;
        grid-row: 5/6;
        font-size: 1.5rem;
        padding: 1rem 3rem;
    }

    /* Weather Section*/
    .weather h3 {
        font-size: 1.9rem;
    }

    .weather p {
        font-size: 1.2rem;
    }

    /* Fresh Section */
    .fresh{
        font-size: 1.5rem;
    }

    /* Social Section */
    .socialContainer h4 {
        font-size: 1.8rem;
    }

    .facebook {
        width: 3.75rem;

    }
    
    .instagram {
        width: 3.75rem;
    }
    
    .twitter {
        width: 3.75rem;
    }

    /* Fresh Page */
    .container {
        margin: auto 6rem;
    }

    #order-details {
        line-height: 2.5rem;
        font-size: 1.1rem;
    }
    
    #nutritional-info {
        line-height: 2.5rem;
        font-size: 1.1rem;
    }

    #submitBtn {
        padding: 0.8rem 1.5rem;
        margin: 1.5rem 5rem 0.3rem;
    }
    
    /* About Us */
    .aboutUs-H {
        font-size: 1.8rem;
    }

    .aboutUs {
        text-align: center;
        font-size: 1rem;
        line-height: 1.3125rem;
        padding: 0 1rem
    }

    #contact-Container {
        display: flex;
        flex-direction: row;
    }

    .contact-icon {
        width: 4.0625rem;
    }
    
    /* Footer Section */
    .footer-info :nth-child(1) {
        font-size: 1rem;
        line-height: 1.5625rem;
    }
    
    .footer-rights{
        font-size: 1rem;
        line-height: 1.5625rem;
    }
    
}