body {
    max-width: 1000px;
    margin: auto;
}

header {
    padding: 1rem;
}

#title {
    margin: 10px;
    font-size: 1.5em;
    text-align: center;
    color: #fff;
    font-family: "Roboto", "Rock Salt", sans-serif;

}

#title-name {
    margin: 10px;
    font-size: 1.2em;
    text-align: center;
    color: #fff;
    font-family: "Roboto", "Rock Salt", sans-serif;
}

header, footer {
    background-color: green;
    border-radius: 5px;
}

#container {
    display: grid;
    padding: 15px;
    grid-gap: 15px;
}

.hicks-law, .fitts-law, .white-space {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    border-radius: 5px;
    border: 1px solid #000;
    padding: 15px;
}

.hicks-law h3, .fitts-law h3, .white-space h3 {
    font-family: "Roboto", "Rock Salt", sans-serif;
    color: black;
    padding: 1rem;
    display: inline-block;
}

.hicks-law, .fitts-law, .white-space {
    grid-column: 1 / -1;
}

.hicks-law h4, .fitts-law h4, .white-space h4 {
    font-family: "Roboto", "Rock Salt", sans-serif;
    grid-row: 2;
}

.hicks-law a, .fitts-law a, .white-space a {
    grid-row: 3;
    color: blue;
    font-family: "Ubuntu", "Helvetica", sans-serif;
}

.hicks-law img, .fitts-law img, .white-space img {
    width: 260px;
    height: 563px;
    grid-row: 4;
}

div p {
    text-align: center;
    padding: 20px 20px;
    font-family: "Ubuntu", "Helvetica", sans-serif;
}

footer {
    padding: 1rem;
    text-align: center;
    font-family: "Ubuntu", "Helvetica", sans-serif;
}

footer p {
    color: white;
    font-size: 1em;
    margin: 10px;
    padding: 0;
}
