









h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-family: "Raleway", "Rock Salt", sans-serif;
}

h4, p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: "Rubik", "Helvetica", sans-serif;
}


p.colored {
    padding: 1rem;
    background-color: #05387a;
    color: #ffdf99;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}
.colors {
    width: 100%;
    min-width: 350px;
    margin: 30px auto;
    text-align: center;
}

.colors th {
    background-color: #999;
}

.primary {
    background-color: #05387a;
    color: white;
}

.secondary {
    background-color: #d69f29;
}

.accent1 {
    background-color: #ffdf99;
}

.accent2 {
    background-color: #008AA5;
    color: white;
}

