
* {
/* Good Start */
    padding: 0;
    margin: 10px;
    box-sizing: border-box;
    width: fit-content;
}

/*---Header-----*/

.site-header {
    padding: 10px;
    margin: 10px;
    padding-bottom: 5px; 
    background-color: #05387a;
    border-radius: 5px;

}

.logo-header{
    width: 80px;
    height: 80px;
}

.social {
    width: 30px;
    /* height: 30px; */
    
} 

.header-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px;

}

/* .page-title {
    flex: 1;

} no need it */


.page-title {
    font-size: 1rem;
    color: black;
    margin-bottom: 0;
    font-family: "Raleway", "Rock Salt", sans-serif;
    font-weight: bolder;

}

/* .page-title h1{
    font-size: 1.5rem;
    color: #ffdf99;
    margin-bottom: 0;
    font-family: "Raleway", "Rock Salt", sans-serif;
    font-weight: bolder;

} */

/* .page-title h2 {
    font-size: 1.2rem;
    color: #ffdf99;
    margin: 0;
    font-family: "Raleway", "Rock Salt", sans-serif;

} */

/*---Banner Message in header-----*/

#banner {
    display: block;
    text-align: center;
    color: #05387a;
    background-color: #ffdf99;
    padding: 10px;
    font-size: 1rem;
    text-align: center;
    font-family: "Rubik", "Helvetica", sans-serif;

}


/*---Date Message in header-----*/

#date {
    display: block;
    margin: 20px 10px;
    text-align: center;
    color: #05387a;
    background-color: #ffdf99;
    padding: 10px 150px;
    font-size: 1rem;
    font-family: "Rubik", "Helvetica", sans-serif;

}

/*-----------Navigation Button--------------*/


nav button {
    background: #ffdf99;
    border: none;
    font-size: 2rem;
    color: #05387a;
}


nav ul{
    list-style: none;
    padding: 0;
    margin:0;
}

nav ul li a {
    display: block;
    padding: 13px 20px;
    text-decoration: none;
    color: #ffdf99;
    background-color: #05387a;
    border: 1px solid #ffdf99;
}

nav ul li.active a{
    background-color: #008AA5;
    color: black;
}

nav ul li a:hover {
    background-color: #ffdf99;
    color:#05387a;
}

/*---Hide Nav-----*/
nav ul {
    display:none;
}

nav ul.open {
    display: block;
}

/*---Close Menu in Nav-----*/
#hamburgerBtn span:nth-child(1) {
    display: block;
    margin: 2px;
}

#hamburgerBtn span:nth-child(2) {
    display: none;
}

#hamburgerBtn.open span:nth-child(1) {
    display: none;
}
#hamburgerBtn.open span:nth-child(2) {
    display: block;
}

/* ----Main------- */

.container {
    margin: 15px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    color: #05387a;

}


#hero {

    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffdf99;
    border: 1px solid grey;
    border-radius: 5px;
    text-align: center;
}

.cusco-square {
    width: 100%;
    height: auto;
}

.hero-h {
    position: absolute;
    top: 20%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: #7a0570;
    font-size: 1.4rem;
    font-weight: bold;
    font-family: "Rubik", "Helvetica", sans-serif;
}


/* ----Button------- */

#joinButton {
    position: absolute;
    bottom: 30px;
    right: 30px;
    padding: 10px 20px;
    background-color: #05387a;
    color: #ffdf99;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Rubik", "Helvetica", sans-serif;

}

#event {
    padding: 10px 20px;
    background-color: #ffdf99;
    border: 1px solid grey;
    border-radius: 5px;
    text-align: center;
}

#event p:nth-child(1) {
    margin-bottom: 10px;
}

#event p:nth-child(2) {
    margin-bottom: 20px;
}

#more-info {
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 1rem;
    color: #05387a;
    text-decoration: none;
    cursor: pointer;
}

#weather {
    padding: 10px 20px;
    background-color: #ffdf99;
    border: 1px solid grey;
    border-radius: 5px;
    text-align: center;
    margin: 0 80px;
}

#weather h3 {
    padding: 10px;
}

.weather-img {
    width: 300px;
    height: auto;
    margin: 0;
    padding: 0 30px;
}

#news {
    padding: 10px 20px;
    background-color: #ffdf99;
    border: 1px solid grey;
    border-radius: 5px;
    text-align: center;
}

#join {
    display: none;
    border-radius: 5px;
    padding: 10px 20px;
}

#join h3 {
    font-size: 1rem;
}

.join-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #05387a;
    color: #ffdf99;
    text-decoration: none;
    border-radius: 5px;
    font-size: 2rem;
    font-family: "Rubik", "Helvetica", sans-serif;
    margin-top: 10px;
}

#spotlights {
    display: grid;
    grid-template-rows: 1fr 1fr ;
    border: 1px solid grey;
    background-color: #ffdf99;
    border-radius: 5px;

}

.spotlight1, .spotlight2 {
    margin: 0px 20px;
    background-color: #d69f29;
    border: 1px solid gainsboro;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;

}

.spotlight1 {
    margin-top: 20px;

}

.transport-img {
    width: 150px;
    height: 150px;
}


.spotlight2 {
    margin-bottom: 20px;

}

.school-img {
    width: 150px;
    height: 150px;
}

.spotlight3 {
    display: none;
    border-radius: 5px;

}


/*--------------------------------Footer-------------------------------*/


.logo-footer{
    width: 200px;
    height: 200px;

}

footer {
    margin: 10px;
    padding: 10px;
    background-color: #05387a;
    text-align: center;
    color: #ffdf99;
    border-radius: 5px;
    font-family: "Rubik", "Helvetica", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;

}

.pg-address {
    padding: 10px;
    padding-bottom: 0;

}

.pg-address p:nth-child(1) {
    font-weight: bold;

}

.contact-info {
    padding: 10px;
    padding-top: 0;
    margin: 0;
}

.pin-location {
    color: #ffdf99;
    text-decoration: none;

}

.footer-info {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.footer-info p:nth-child(2) {
    font-weight: bold;

}

