@media only screen and (min-width: 1300px) {

    /* -------------Header----------------- */

    .header-section {
        padding: 10px 100px;
    }

    .page-title {
        font-size: 2.5rem;
    }

    .social {
        width: 50px;
        height: 50px;
    }

    nav button{
        display: none;
    }

    #primaryNav{
        display: flex;
        margin-right: 50px;
        font-weight: bold;
        font-size: 1.6rem;
    }

    nav ul li a {
        border: none;
    }

    #banner {
        font-size: 1.9rem;
    }

    #date {
        font-size: 1.8rem;
    }

    /* -------------Main----------------- */

    .container {
        grid-template-columns: repeat(5, 1fr);
        column-gap: 10px;
        padding: 15px 60px;
    }

    #event {
        grid-area: 1/1/2/2;
        padding: 0;
    }

    .event-title {
        padding: 20px 0;
        font-size: 1.8rem;
    }

    .store-name {
        padding: 30px 0;
        font-size: 1.5rem;
    }

    .store-info {
        padding: 10px;
        font-size: 1.3rem;
    }

    #more-info {
        font-size: 1.2rem;
        padding: 5px 10px;
    }

    #weather {
        grid-area: 2/1/3/2;
    }

    .weather-title {
        font-size: 1.8rem;
    }

    .weather-temp {
        font-size: 2.5rem;
        padding: 40px;
    }

    .weather-info {
        font-size: 1.3rem;
    }

    #join {
        grid-area: 3/1/4/2;
    }

    .join-button {
        font-size: 1.8rem;
    }

    .join-info {
        font-size: 1.3rem;
        padding: 10px;
    }

    #hero {
        grid-area: 1/2/3/5;
    }

    .hero-title {
        font-size: 2.8rem;
    }

    #join-button {
        padding: 20px 30px;
    }

    #news {
        grid-area: 3/2/4/5;
    }

    .news-title {
        font-size: 1.8rem;
    }

    .news-info {
        font-size: 1.3rem;
    }

    #spotlights {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-area: 1/5/4/6;
    }

    .spotlight1 {
        grid-area: 1/1/2/2;
        margin: 15px;
        margin-bottom: 0;
    }

    .transport-title {
        font-size: 1.6rem;
        padding: 10px;
    }

    .spotlight2 {
        grid-area: 2/1/3/2;
        margin: 15px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .school-title {
        font-size: 1.6rem;
        padding: 10px;
    }

    .spotlight3 {
        display: block;
        background-color: #d69f29;
        border: 1px solid gainsboro;
        grid-area: 3/1/4/2;
        margin: 15px;  
        margin-top: 0;
        padding: 10px 0;
        font-family: "Raleway", "Rock Salt", sans-serif;
    }

    .ong-title {
        font-weight: bold;
        font-family: "Rubik", "Helvetica", sans-serif;
        font-size: 1.6rem;
        padding: 10px;
    }

    .ong-img {
        width: 70%;
        height: auto;
        object-fit: cover;
        padding: 10px 0;
    }

    .ong-info {
        padding: 5px 0;
        font-family: "Raleway", "Rock Salt", sans-serif;
        font-size: 1rem;
    }

    .ong-slogan {
        font-size: 1.3rem;
        padding: 10px 20px;
    }


    /* ------------Footer-------------- */

    .chamber-footer {
        grid-template-columns: 350px 1fr 1fr;
        column-gap: 15px;
        align-items: center;
    }

    .logo-footer {
        justify-self: right;
    }

    .pg-address{
        padding-top: 0px;
    }

    .pg-address p:nth-child(1) {
        font-size: 1.8em;
    }

    .pg-address p:nth-child(2), .pg-address p:nth-child(3) {
        font-size: 1.5em;
    }

    .contact-info {
        font-size: 1.5em;
    }

    .footer-info p {
        font-size: 1.3em;
    }

    .footer-info .footer-p {
        display: inline;
    }

    /* ----------------Discover Page---------- */

    .visits {
        font-size: 1.8rem;
    }

    /* -----------main------------- */

    .demographics {
        margin: 15px 60px;
    }

    .discoverMain {
        margin: 15px 60px;
    }

    .discoverMain img {
        box-shadow:  0 0 10px rgb(63, 59, 59);
    }

    .pDiscover {
        font-size: 1.4rem;  
    }

    h2 {
        font-size: 2rem;
    }

    .catedral {
        grid-column: 1/2;
        grid-row: 1/3;
    }

    .moray{
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .sacsayhuaman {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .vinicunca {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    /* ----------Join Page---------- */

    .join-container {
        margin: auto;
    }


    /* --------Thanks page---------- */
    
    .thankH1 {
        font-size: 3rem;
        padding: 40px;
        margin: 20px;
    }

    .thankP {
        font-size: 2rem;
        padding: 40px;
        margin: 20px;
    }


    /* --------- DIRECTORY PAGE--------- */

    h2.directory {
        font-size: 2.5rem;
    }

    div.cards section h3 {
        font-size: 2rem;
    }

    /* ----------Grid View-------- */
    div.cards {
        grid-template-columns: repeat(3, 1fr);
    }

    div.cards section:nth-child(9) {
        grid-column: 3/4;
        grid-row: 3/4;
        padding: 1rem;
    }

    /* ---- List View---- */
    div.list {
        max-width: 70%;
        margin: 1rem auto;
    }
}
