@media only screen and (min-width: 1280px) {

    /* -------------Header----------------- */

    .page-title h1{
        font-size: 3rem;

    }
    
    .page-title h2 {
        font-size: 1.7rem;

    }

    .social {
        width: 50px;
        height: 50px;
    }

    nav button{
        display: none;

    }

    nav ul#primaryNav{
        display: flex;
        margin-right: 50px;
        font-weight: bold;
        font-size: 1.8em;

    }

    nav ul li a {
        border: none;
    }

    /* -------------Main----------------- */

    .container {
        grid-template-columns: repeat(4, auto);
        /* grid-template-rows: repeat(3, 300px); */
        column-gap: 10px;
        padding-left: 15px;
        padding-right: 15px;
    }

    #event {
        grid-area: 1/1/2/2;

    }

    #weather {
        grid-area: 2/1/3/2;

    }

    #join {
        grid-area: 3/1/4/2;

    }

    #hero {
        grid-area: 1/2/3/4;

    }

    #news {
        grid-area: 3/2/4/4;

    }

    #spotlights {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-area: 1/4/4/5;

    }

    .spotlight1 {
        grid-area: 1/1/2/2;
        margin: 15px;
        margin-bottom: 0;

    }

    .spotlight2 {
        grid-area: 2/1/3/2;
        margin: 15px;
        margin-top: 0;
        margin-bottom: 0;

    }

    .spotlight3 {
        display: block;
        background-color: #d69f29;
        border: 1px solid gainsboro;
        grid-area: 3/1/4/2;
        margin: 15px;  
        margin-top: 0;
        padding: 0 20px;

    }

    /* ------------Footer-------------- */

    .chamber-footer {
        grid-template-columns: 350px 1fr 1fr;
        column-gap: 15px;
        align-items: center;
    }

    .logo-footer {
        justify-self: right;
    }

    .pg-address{
        padding-top: 0px;
    }

    .pg-address p:nth-child(1) {
        font-size: 1.8em;
    }

    .pg-address p:nth-child(2), .pg-address p:nth-child(3) {
        font-size: 1.5em;
    }

    .contact-info {
        font-size: 1.5em;
    
    }

    .footer-info p {
        font-size: 1.3em;

    }

    .footer-info .footer-p {
        display: inline;

    }

}