
body {
    display: flex;
    flex-direction: column;
    background-color: rgb(200, 209, 79);
}

.container {
    text-align: center;
    font-family: "Arial", sans-serif;
}



h1 {
    color: #05387a;;
    border-bottom: solid;
    
}

p {
    font-size: 2rem;
    color: rgb(124, 104, 7);
}

h2 {
    color: rgb(5, 79, 54);
}

img {
    background-color: lightblue;
    align-items: center;
    
}