
* {
    margin: 5px;
}

/* ----Main------- */


.container {
    margin: 15px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 200px) 400px;
    row-gap: 10px;
    color: #05387a;
    text-align: left;

}


#hero, #event, #weather, #news {
    padding: 0 20px;
    background-color: #ffdf99;
    border: 1px solid grey;
    border-radius: 5px;

}

#join {
    display: none;
    border-radius: 5px;

}

#spotlights {
    display: grid;
    grid-template-rows: 1fr 1fr ;
    border: 1px solid grey;
    background-color: #ffdf99;
    border-radius: 5px;

}

.spotlight1, .spotlight2 {
    margin: 0px 20px;
    background-color: #d69f29;
    border: 1px solid gainsboro;
    padding: 0 20px;
    border-radius: 5px;


}

.spotlight1 {
    margin-top: 20px;

}

.spotlight2 {
    margin-bottom: 20px;

}

.spotlight3 {
    display: none;
    border-radius: 5px;

}


/*--------------------------------Footer-------------------------------*/


.logo-footer{
    width: 200px;
}

footer {
    margin: 0;
    background-color: #05387a;
    text-align: center;
    color: #ffdf99;
    border-radius: 5px;

}




.pg-address p:nth-child(1) {
    font-weight: bold;
}

.contact-info {
    padding-top: 0;
    margin-top: 0;
}

.pin-location {
    color: #ffdf99;
    text-decoration: none;
}


.footer-info p:nth-child(2) {
    font-weight: bold;
}

